body {
    background-color: whitesmoke;
    margin: 20px;
    padding-left: 20px;
}
h1,
h2,
h3 {
    color: darkslategrey;
}
p,
h4 {
    color: darkgrey;
}

.container {
    display: grid;
    max-width: 400px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    padding: 0;
    margin: 0;
}

