body {
    background-color: whitesmoke;
    margin: 20px;
    padding-left: 20px;
}
h1,
h2,
h3 {
    color: darkslategrey;
}
p,
h4 {
    color: darkgrey;
}

.container {
    display: grid;
    max-width: 400px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.page-container {
    padding: 0  0.85em;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows:  minmax(0px, auto);
    grid-gap: 0px;
    grid-template-areas: 
      "header"
      /* "nav"  */
      "main"  
      /* "aside"
      "footer"; */
}

header {
        grid-area: header;
        padding: 10;
        margin: 0;
    }
    
    main {
        grid-area: main;
    }
    
    aside {
        grid-area: aside;
    }
    
    footer {
        grid-area: footer;
    }
    nav {
        grid-area: nav;
    }

    * {
        box-sizing: border-box;
    }
    body {
        font-size: 1.0em;
        font-family: 'Varela Round', sans-serif;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }
    /* .page-container > * {
        color: #fff;
        text-shadow: 0 2px 0 rgba(110,133,156,0.12);
        padding: 0.85em;
        border: solid 1px rgba(110,133,156,0.15);
    } */
    /* header {
      background-color: #3f8abf;
    }
    nav {
      background-color: #fbaea8;
    }
    main {
      background-color: #aad2ed;  
    }
    aside {
      background-color: #6ad78a; 
    }
    footer {
      background-color: #6e859c;
    } */