/* Fonts */
@font-face {
    font-family: "Kraftwerk Regular";
    src: url(assets/KraftwerkRegular.ttf) format("truetype");
}

@font-face {
    font-family: "DSEG14 Modern";
    src: url(assets/DSEG14Modern-Regular.ttf) format("truetype");
}

body {
    text-align: center;
    margin: 0px;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
}
  
.wrapper {
    display: grid;
    grid-template-columns: 100vw;
    justify-content: center;
    background-color: #EDDF67;
    color: #111;
    height: 100vh;
    width: 100vw;
    margin: auto;
}
  
.box {
    background-color: #111;
    color: #fff;
    font-size: 3rem;
    width:94%;
    text-align: center;
    border: solid 0.3vh #111;
}

.screen-block {
    height: 50vh;
    margin: 3vh 3% 0vh 3%;
    border-radius: 2vh 2vh 0px 0px;
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
}

.num-buttons-block {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    height: 43vh;
    margin: 0 3% 3vh 3%;
    background-color: #EDDF67;
    border-radius: 0px 0px 2vh 2vh;
}

.screen {
    height: 10vh;
    background-color: #EDDF67;
    margin: 3vh 6% 0vh 6%;
    padding: 0%;
    text-align: right;
    border-radius: 2vh 2vh 2vh 2vh;
    grid-area: 1 / 1 / 2 / 6;
  }

h2 {
    margin-top:3.5vh;
    margin-bottom: 2.5vh;
    color: #EDDF67;
    font-family: "Kraftwerk Regular";
    font-size: 4vh;
    grid-area: 2 / 1 / 3 / 6;
}

h1 {
    margin: 0;
    font-size: 9.5vw;
    color: #111;
    font-family: "DSEG14 Modern";
    line-height: 10vh;
    padding: 0 1.3% 0 0;
}

button {
    width: 18vw;
    height: 6vh;
    margin: 1.2vh 2.3vw;
    padding: 0;
    color: #EDDF67;
    text-align: center;
    font-size: 4vh;
    border-radius: 1vh;
    border-width: 0;
    background-color: #111;
    font-family: "Kraftwerk Regular";
}
.small {
    width: 12vw;
    height: 4vh;
    font-size: 5vmin;
    margin: 1.1vh 2.6vw;
    color: black;
    background-color: #EDDF67;
    font-family: "Kraftwerk Regular";
}
 .equals {
    color: black;
    background-color: #EDDF67;
    border-width: 0.4vh;
    border-color: black;
}

@media only screen  and (min-device-width : 768px) {

.wrapper {
    width: 58vh;
    grid-template-columns: 55vh;
    justify-content: center;
}

button {
    width: 8vh;
    margin: 1.2vh 2.3vh;
    font-size: 4vh;
}

.small {
    width: 6vh;
    font-size: 2.5vh; 
    margin: 1.2vh 1.9vh;
}

h1 {
    font-size: 5vh;
}


}